.navbar{
	opacity:0.6;
}
h1{
	position: relative;
	bottom:  200px;
	text-align: center;
	color: #77b5fe;
}

.table{
	position: relative;
	background-color: #fff;
	top: 10px;
}
.btn{
	position: relative;
	bottom: 70px;
	left: 10px;
}
#btn{
	position: relative;
	top: 5px;
}